body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(img/bkg.jpg);
    background-repeat: repeat;
}

section {
    width:60%;
    margin: 0 auto;
}

h1{
    text-align: center;
    background-color: #000;
    color:#d2e7e2;
    padding: 1vw;
}

code {
    font-size: 1.5vw;
    font-style: italic;
    background-color: lightgray;
}

div{
    background-color: #fff;
    color:#000;
    padding: 1vw;
}

img{
    margin-top: 1vw;
    margin-bottom: 1vw;
}