*{ 
    font-family: fantasy;
}

body {
    width: 50%; /*largeur de ma page 50% de l'écran*/
    margin:auto;/*gestion automatique des marges pour que mon tableau soit centré*/
}

table {
    border : 4px solid #483d8b; /*bordure - 3 valeurs : épaisseur, type de trait, couleur*/
    border-collapse: collapse; /*par défaut la bordure qui contient deux traits, pour que le trait soit unique on utilise la propriété collapse*/
    width : 90%;
    margin : 25px;
}