.zone-adaptative{
    background-color: red;
    color: #fff;
    padding:10px;
}

@media (min-width:480px){
    .zone-adaptative {
        width:460px;
        background-color: violet;
    }
}

@media (min-width:768px){
    .zone-adaptative {
        width:750px;
        background-color: orange;
    }
}

@media (min-width:992px){
    .zone-adaptative {
        width:970px;
        background-color: blue;
    }
}

@media (min-width:1200px){
    .zone-adaptative {
        width:1170px;
        background-color: green;
    }
}

