#conteneur{
    width: 1000px;
    height:762px;
    background: blue;
    color: white;
    margin: 0 auto;
 }

header {
     height : 80px;
     background-color: red;
     text-align: center;
     line-height: 40px;
     color: #fff;
}

#gauche, #droite{
    width:200px;
    min-height: 600px;
    color:#fff;
    text-align: center;
    float:left;
    line-height: 500px;
}

#groupe {
    width :600px;
    min-height: 600px;
    background-color: green;
    float: left;
}

.vert {
    float: left;
    width:118px;
    min-height: 600px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 500px;
}

#footer {
    text-align: center;
    background-color: gold;
    color:#fff;
    line-height: 80px;
    height: 80px;
    margin-left:200px;
    margin-right: 200px;
}

#clear{
    clear: both;
}


 